@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
}
a:hover{
    color: cornflowerblue;
    letter-spacing: 3px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    outline: none;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    letter-spacing: 5px;
    color: cornflowerblue;
    transition: 0.5s;
}
.card{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 12px;
}
.card:hover{
    transform: translateY(-10px);
}
.card1{
    background-image: url(/images/pic-1.png);
}
.card2{
    background-image: url(/images/pic-2.png);
}
.card3{
    background-image: url(/images/pic-3.png);
}
.card4{
    background-image: url(/images/pic-4.png);
}
.col{
    flex-basis: 50%;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
h1{
    color: #fff;
    font-size: 100px;
}
h5{
    color: #fff;
    text-shadow: 0 0 10 px #999;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
p{
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
